.main-theme-color{
    background-color: #A1887F;
    text-align: center;
    /* padding: 5px 0; */
    font-family: 'Dancing Script', cursive;
    font-family: 'Fascinate', cursive;
    font-family: 'Flamenco', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}
